body {
  background-color: #000;
  color: #fff;
}

h2 {
  color: #dcca87;
}

.contestant-card {
  border: 1px solid #dcca87;
  padding: 10px;
  margin: 10px;
}

.img-small {
  max-width: 100px; /* Adjust the size as needed */
}

/* Custom styles for the "Copy Link" button */
#copyLinkButton {
  margin-left: 10px;
}

/* Additional styles for the success and failure messages */
.success-message {
  color: green;
  font-weight: bold;
}

.failure-message {
  color: red;
  font-weight: bold;
}

.vote-again-button {
  margin-top: 10px;
}

/* Styles for the modal header */
.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-title {
  color: white;
}
