<!-- header.ejs -->

<link rel="stylesheet" href="/styles/header.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>

<div class="flex-container container-fluid app__header" id="home">
  <div class="app__header_div row">
    <img
      src="/images/logo.png"
      alt=""
      class="app__header-img"
      height="50"
      width="50"
    />

    <h1 class="app__header-h1 col-7">LINCSSA BASH</h1>
    <b class="app__header_main">Awards & Party Voting Center</b>
  </div>

  <div class="app__header_sneak">
    <p class="app__header_sneak-text">
      Countdown till the party 🎉<b class="timeframe"> January, 26th</b>
    </p>
  </div>
</div>

<!-- <script src="/script/headerScript.js"></script> -->
